
@tailwind base;
@tailwind components;
@tailwind utilities;

.p-tree {
    padding: 0;
    border: none;
    background-color: #1a202c !important;
}

.p-tree .p-tree-container {
    padding: 0;
    background-color: transparent !important;
}

.p-tree .p-tree-container .p-treenode {
    padding: 0;
    margin-left: 0;
}

.p-tree .p-tree-container .p-treenode .p-treenode-content {
    border: none;
    padding: 5px 8px;
    background-color: transparent !important;
    display: flex;
    align-items: center;
}

.p-tree .p-tree-container .p-treenode .p-treenode-children {
    padding-left: 1.2rem;
}

.p-tree .p-tree-container .p-treenode .p-tree-toggler {
    margin-right: 0.5rem;
    background-color: transparent !important;
}

.p-tree .p-tree-toggler {
    background-color: transparent !important;
    color: white !important;
}

.p-tree .p-tree-container .p-treenode .p-treenode-content:hover {
    background-color: #2d3748 !important;
}

.p-tree .p-tree-empty-message {
    background-color: #1a202c !important;
    color: #a0aec0 !important;
    text-align: center;
    padding: 8px;
}
